<article id="about" class="l-container c-block">
  <div class="o-flow">
    <h2 class="c-block__title">Let us care for you</h2>
    <p>For over 40 years, we at Dr. E.V. Boone’s office have made patient well-being our top priority. We have provided
      informative consultations, a variety of general dentistry, and orthodontic procedures in a comfortable, safe
      environment. We are committed to the highest standards of dental care, continuing our educational training to offer
      modern techniques and advancements for our patients.</p>
    <p>Our facility uses the highest quality materials and state-of-the-art dental technology to give patients a notably
      satisfying result. We also offer a full range of dental healthcare and treatment options for all ages based on
      individual desires and needs. At Dr. Boone’s, we strive to provide the most excellent, comprehensive care possible.</p>
  </div>
  <img src="/images/dr-boone-portrait.png" alt="A portait of Dr Boone, smiling.">
</article>