<article id="contact" class="o-flow l-container">
  <h2 class="c-block__title">Contact</h2>
  <div class="o-flow">
    <div>
      <img src="/images/map.png" alt="A map showing Dr. Boone's office off of Main Street in Vidor.">
      <div class="o-flow">
        <h3>Location</h3>
        <p>Dr. E.V. Boone<br/>1090 N Main Street<br/>Vidor, TX 77662-4357<br/>Phone: (409) 769-4433<br/>Fax: (409) 769-4418</p>
        <h3>Regular hours</h3>
        <p>Monday–Thursday<br>8:00 a.m. to 5:00 p.m.</p>
        <p>We observe most Federal holidays.</p>
      </div>
    </div>
    <div>
      <div class="o-flow">
        <h3 id="appointments">Appointments and Cancelations</h3>
        <p>To schedule an appointment, please call our office at (409) 769-4433. If for any reason you need to cancel or
          reschedule, please notify us by phone 24-hours in advance.</p>
      </div>
      <div class="o-flow">
        <h3>Insurance and Payment Options</h3>
        <p>Our office accepts most insurance plans, and we will gladly submit all insurance claims for you in a timely manner.
          We accept check, cash, or any major credit card.</p>
        <p>To help you afford the treatments you need and want, we have also partnered with CareCredit, a payment program that
          gives patients a cost conscious financial option when paying medical expenses. Once approved, you can begin treatments
          when needed and pay in monthly installments depending upon the plan you choose. Please visit
          <a href="http://www.carecredit.com/">CareCredit.com</a>
          for more information.</p>
        <p>If you have questions regarding insurance information and payment options, call our office today at (409) 769-4433.</p>
      </div>
    </div>
  </div>
</article>