<article id="contact" class="c-block">
  <div class="o-flow c-block__intro">
    <h2 class="c-block__title">We would love to see you</h2>
    <p>We are conveniently located on North Main Street in Vidor, next to Bar B Western Store. For&nbsp;appointments, please
      call during business hours.</p>
  </div>
  {# <div id="map" class="c-map">
            <iframe
              id="map-frame"
              loading="lazy"
              allowfullscreen="allowfullscreen"
              referrerpolicy="no-referrer-when-downgrade"
              src="https://www.google.com/maps/embed/v1/place?key={{site.SAFE_TOKENS.googleMapsApi}}&q=Boone+Eugene+V+DDS"></iframe>
          </div> #}
  <div class="c-img-map">
    <a
      href="https://www.google.com/maps/place/Boone+Eugene+V+DDS/@30.1376826,-94.0178567,17z/data=!3m1!4b1!4m5!3m4!1s0x86394b0ed6c193d5:0xf300eca4a2eb93c!8m2!3d30.1376816!4d-94.0157375"
      target="_blank"><img src="/images/map.png"/>
    </a>
  </div>
  <div class="l-split c-grid--contact" data-split="8/5">
    <div class="o-flow c-block__location">
      <h3>Our Location</h3>
      <p>Dr. E.V. Boone<br/>1090 N Main Street<br/>Vidor, TX 77662-4357<br/>Phone: (409) 769-4433<br/>Fax: (409) 769-4418</p>
      <p>M–Th: 8AM to 5PM<br/>We observe most federal holidays.</p>
    </div>
    <div class="o-flow c-block__appointments">
      <h3 id="appointments">Appointments and Cancelations</h3>
      <p>To schedule an appointment, please call our office at (409) 769-4433. If for any reason you need to cancel or
        reschedule, please notify us by phone 24-hours in advance.</p>
      <h3>Insurance and Payment Options</h3>
      <p>Our office accepts most insurance plans, and we will gladly submit all insurance claims for you in a timely manner.
        We accept check, cash, or any major credit card.</p>
      <p>To help you afford the treatments you need and want, we have also partnered with CareCredit, a payment program that
        gives patients a cost conscious financial option when paying medical expenses. Once approved, you can begin treatments
        when needed and pay in monthly installments depending upon the plan you choose. Please visit
        <a href="http://www.carecredit.com/">CareCredit.com</a>
        for more information.</p>
      <p>If you have questions regarding insurance information and payment options, call our office today at (409) 769-4433.</p>
    </div>
  </div>
</article>