<a class="o-visible-on-focus c-skip-link" href="#main">
  Skip to main content
</a>
<header class="c-header">
  <a href="/">
    <span class="o-visually-hidden">Home</span>
    <picture><source media="(min-width: 640px)" srcset="/images/logo.svg"/><img class="c-header__branding" src="/images/logo-sm.svg" alt=""/>
    </picture>
  </a>
  <nav>
    <ul class="c-nav">
      <li>
        <a href="/#about">About</a>
      </li>
      <li>
        <a href="/#services">Services</a>
      </li>
      <li>
        <details>
          <summary>New Patient Forms</summary>
          <ul>
            <li><a href="/downloads/form.pdf" target="_blank">Adult Patient Form</a></li>
            <li><a href="/downloads/child-form.pdf" target="_blank">Child Patient Form</a></li>
          </ul>
        </details>
      </li>
      <li>
        <a href="/#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>