<a class="o-visible-on-focus c-skip-link" href="#main">
  Skip to main content
</a>
<header id="site-header" class="l-container c-header" id="top">
  <a href="#top">
    <span class="o-visually-hidden">Home</span>
    <picture><source media="(min-width: 640px)" srcset="/images/logo.svg"/><img class="c-header__branding" src="/images/logo-sm.svg" alt=""/>
    </picture>
  </a>
  {% include "c-site-nav.njk" %}
</header>
<template id="site-nav-toggle-template">
  <button id="site-nav-toggle">Menu</button>
</template>
<template id="site-nav-dialog-template">
  <dialog id="site-nav-dialog"></dialog>
</template>
<template id="site-nav-template">
  {% include "c-site-nav.njk" %}
</template>
<template id="collapsible-site-nav-template">
  <details id="collapsible-site-nav" data-disclosure>
    <summary id="site-nav-toggle" class="c-nav-toggle">Menu</summary>
    <div id="site-nav-panel">
      {% set isMobile = true %}
      {% include "c-site-nav.njk" %}
    </div>
  </details>
</template>