<header class="l-container c-hero">
  <img class="c-hero__image" src="/images/hero-bg.png"/>
  <div class="c-hero__content o-flow">
    <h1 class="c-hero__title">{% include "c-hero__title.njk" %}</h1>
    <p>
      We desire to provide a caring, courteous environment for our patients and have an experienced, friendly staff who are
      ready to give you the quality dental health care you deserve.
    </p>
    <p>
      <a class="c-hero__cta" href="/#appointments">Book an appointment today!</a>
    </p>
  </div>
</header>