<a class="o-visible-on-focus c-skip-link" href="#main">
  Skip to main content
</a>
<header class="c-header">
  <a href="/">
    <span class="o-visually-hidden">Home</span>
    <picture><source media="(min-width: 640px)" srcset="/images/logo.svg"/><img class="c-header__branding" src="/images/logo-sm.svg" alt=""/>
    </picture>
  </a>
  <nav>
    <ul class="c-nav">
      <li>
        <a {% if page.url == '/blog/' %} aria-current="page" {% endif %} href="/#about">About</a>
      </li>
      <li>
        <a {% if page.url == '/blog/' %} aria-current="page" {% endif %} href="/#about">Services</a>
      </li>
      <li>
        <a {% if page.url == '/blog/' %} aria-current="page" {% endif %} href="/#about">New Patient Forms</a>
      </li>
      <li>
        <a {% if page.url == '/blog/' %} aria-current="page" {% endif %} href="/#about">Contact</a>
      </li>
    </ul>
  </nav>
</header>