<article id="services" class="l-container c-block">
  <div class="o-flow c-block__intro">
    <h2 class="c-block__title">A wide range of services, experience you can trust</h2>
    <p>Whether you’re a first-time patient or someone who’s been with us for years, we strive to protect your dental health,
      offering everything from preventive to repair care.</p>
  </div>
  <div class="o-flow">
    <div>
      <h3>Orthodontics</h3>
      <img src="/images/ortho.png" alt="A smiling woman holding invisible and traditional braces.">
      <div class="o-flow c-spicy-block__content">
        <p>We understand how important it is to have confidence in your smile, which is why we are pleased to offer an array of
          orthodontic services. Each patient’s needs are different and are evaluated individually. We will develop a treatment
          plan that will best suit you.</p>
        <p>We offer metal, porcelain, and invisible braces (SureSmile) for children and adults. If you are interested in finding
          out more about how orthodontics can help you achieve a beautiful smile, or for questions about our orthodontic treatment
          options, please call our office at (409) 769-4433 to schedule an appointment.</p>
      </div>
    </div>
    <div>
      <h3>Cosmetic Dentistry</h3>
      <img src="/images/cosmetic.png" alt="A mature, smiling couple sitting on a bench.">
      <div class="o-flow">
        <p>Your smile is important. That's why Dr. Boone works with high-quality materials and a full-service dental laboratory
          to achieve accurate and comfortable results. We offer a full range of cosmetic services, from brightening your smile to
          restoring proper mouth function, including eating and speaking.</p>
        <ul>
          <li>Porcelain Veneers</li>
          <li>Fillings and Bonding</li>
          <li>Dental Implants</li>
          <li>Bridges</li>
          <li>Dentures and Partials</li>
          <li>Porcelain and Precious Metal Crowns</li>
          <li>Teeth Whitening</li>
        </ul>
      </div>
    </div>
    <div>
      <h3>Preventive Care</h3>
      <img src="/images/preventive.png" alt="A young girl being taught how to brush on a prop tooth.">
      <div class="o-flow">
        <p>Regularly scheduled dental maintenance aids in overall health as well as reduces the chance of major long-term damage
          and total dental costs. Dr. Boone's office offers routine oral examinations and cleanings to help keep your teeth
          healthy.
        </p>
        <p>Our comprehensive exam includes a complete oral examination and a full mouth series of 20 x-rays or a panoramic film
          and bite-wing x-rays used to screen for active decay and periodontal diseases. We will also discuss your dental history
          and any options you may need to maintain healthy teeth and gums or restore problem areas, as well as review any
          additional desires and/or concerns you may have.</p>
        <p>Having a hygienist perform thorough, routine cleanings is one of the best preventative measures you can take to
          maintain healthy teeth and gums. Our hygienists are licensed professionals who help evaluate problem areas and implement
          treatment plans based on patient needs.</p>
      </div>
    </div>
    <div>
      <h3>Surgical Dentistry</h3>
      <img src="/images/surgery.png" alt="A smiling man receiving dental care.">
      <div class="o-flow">
        <p>Sometimes a patient needs tooth repair or removal due to pain, severe infection, or decay. Other times a surgical
          procedure may be necessary to make room for orthodontics or maintain oral heath, such as with wisdom tooth removal. In
          these cases, Dr. Boone may make a recommendation based on your needs. Our non-cosmetic surgical procedures include
          extractions and root canal therapy.</p>
        <p>It is always the choice of the patient (or guardian/parent if the patient is a minor) to determine if a procedure is
          desired. We are here to answer any questions you may have about a procedure including pre/post-surgical care and can
          discuss the sedation options we offer. We aim to help our patients return to normal activities as quickly as possible
          and will work on a plan that fits your situation.</p>
      </div>
    </div>
  </div>
</article>