---
layout: default
mainClass: c-page o-flow
eleventyComputed:
  headContent: |
    {{ headContent }}
  scriptContent: |
    {{ scriptContent }}
---

{% include "c-page-title.njk" %}
{{ content | safe }}