---
layout: default
title: Home
displayTitle: Quality dental and orthodontic care for all ages
scriptContent: |
  <script type="module" src="js/disclosure.js"></script>
  <script type="module" src="js/site-nav.js"></script>
---

<header class="c-block">
  <div class="l-split c-block__content">
    <img src="/images/hero-1.png" alt="A smiling woman receiving dental care.">
    <div class="o-flow">
      {% include "c-page-title.njk" %}
      <p>
        We desire to provide a caring, courteous environment for our patients and have an experienced, friendly staff who are
        ready to give you the quality dental health care you deserve.
      </p>
      <p>
        <a class="c-hero__cta" href="/#appointments">Book an appointment today!</a>
      </p>
    </div>
  </div>
</header>
<article id="about" class="o-flow c-block">
  <h2 class="c-block__title">About</h2>
  <div class="l-split c-block__content" data-layout="1:3 reverse">
    <img class="c-block__image" src="/images/dr-boone-portrait.png" alt="A portait of Dr Boone, smiling.">
    <div class="o-flow">
      <p>For over 40 years, we at Dr. E.V. Boone’s office have made patient well-being our top priority. We have provided
        informative consultations, a variety of general dentistry, and orthodontic procedures in a comfortable, safe
        environment. We are committed to the highest standards of dental care, continuing our educational training to offer
        modern techniques and advancements for our patients.</p>
      <p>Our facility uses the highest quality materials and state-of-the-art dental technology to give patients a notably
        satisfying result. We also offer a full range of dental healthcare and treatment options for all ages based on
        individual desires and needs. At Dr. Boone’s, we strive to provide the most excellent, comprehensive care possible.</p>
    </div>
  </div>
</article>
<article id="services" class="o-flow c-block">
  <h2 class="c-block__title">Services</h2>
  <div class="c-block__content o-flow">
    <div class="c-spicy-block">
      <h3 class="c-spicy-block__heading">Orthodontics</h3>
      <img
        class="c-spicy-block__image"
        src="/images/ortho.png"
        alt="A smiling woman holding invisible and traditional braces.">
      <div class="o-flow c-spicy-block__content">
        <p>We understand how important it is to have confidence in your smile, which is why we are pleased to offer an array of
          orthodontic services. Each patient’s needs are different and are evaluated individually. We will develop a treatment
          plan that will best suit you.</p>
        <p>We offer metal, porcelain, and invisible braces (SureSmile) for children and adults. If you are interested in finding
          out more about how orthodontics can help you achieve a beautiful smile, or for questions about our orthodontic treatment
          options, please call our office at (409) 769-4433 to schedule an appointment.</p>
      </div>
    </div>
    <div data-direction="reverse" class="c-spicy-block">
      <h3 class="c-spicy-block__heading">Cosmetic Dentistry</h3>
      <img class="c-spicy-block__image" src="/images/cosmetic.png" alt="A mature, smiling couple sitting on a bench.">
      <div class="o-flow c-spicy-block__content">
        <p>Your smile is important. That's why Dr. Boone works with high-quality materials and a full-service dental laboratory
          to achieve accurate and comfortable results. We offer a full range of cosmetic services, from brightening your smile to
          restoring proper mouth function, including eating and speaking.</p>
        <ul>
          <li>Porcelain Veneers</li>
          <li>Fillings and Bonding</li>
          <li>Dental Implants</li>
          <li>Bridges</li>
          <li>Dentures and Partials</li>
          <li>Porcelain and Precious Metal Crowns</li>
          <li>Teeth Whitening</li>
        </ul>
      </div>
    </div>
    <div class="c-spicy-block">
      <h3 class="c-spicy-block__heading">Preventive Care</h3>
      <img
        class="c-spicy-block__image"
        src="/images/preventive.png"
        alt="A young girl demonstrating how to brush on a prop tooth.">
      <div class="o-flow c-spicy-block__content">
        <p>Regularly scheduled dental maintenance aids in overall health as well as reduces the chance of major long-term damage
          and total dental costs. Dr. Boone's office offers routine oral examinations and cleanings to help keep your teeth
          healthy.
        </p>
        <p>Our comprehensive exam includes a complete oral examination and a full mouth series of 20 x-rays or a panoramic film
          and bite-wing x-rays used to screen for active decay and periodontal diseases. We will also discuss your dental history
          and any options you may need to maintain healthy teeth and gums or restore problem areas, as well as review any
          additional desires and/or concerns you may have.</p>
        <p>Having a hygienist perform thorough, routine cleanings is one of the best preventative measures you can take to
          maintain healthy teeth and gums. Our hygienists are licensed professionals who help evaluate problem areas and implement
          treatment plans based on patient needs.</p>
      </div>
    </div>
    <div data-direction="reverse" class="c-spicy-block">
      <h3 class="c-spicy-block__heading">Surgical Dentistry</h3>
      <img class="c-spicy-block__image" src="/images/surgery.png" alt="A smiling man receiving dental care.">
      <div class="o-flow c-spicy-block__content">
        <p>Sometimes a patient needs tooth repair or removal due to pain, severe infection, or decay. Other times a surgical
          procedure may be necessary to make room for orthodontics or maintain oral heath, such as with wisdom tooth removal. In
          these cases, Dr. Boone may make a recommendation based on your needs. Our non-cosmetic surgical procedures include
          extractions and root canal therapy.</p>
        <p>It is always the choice of the patient (or guardian/parent if the patient is a minor) to determine if a procedure is
          desired. We are here to answer any questions you may have about a procedure including pre/post-surgical care and can
          discuss the sedation options we offer. We aim to help our patients return to normal activities as quickly as possible
          and will work on a plan that fits your situation.</p>
      </div>
    </div>
  </div>
</article>
<article id="contact" class="o-flow c-block">
  <h2 class="c-block__title">Contact</h2>
  <div class="o-flow c-block__content">
    <div class="l-split" data-layout="3:1">
      <img src="/images/map.png" alt="A map showing Dr. Boone's office off of Main Street in Vidor.">
      <div class="o-flow">
        <h3>Location</h3>
        <p>Dr. E.V. Boone<br/>1090 N Main Street<br/>Vidor, TX 77662-4357<br/>Phone: (409) 769-4433<br/>Fax: (409) 769-4418</p>
        <h3>Regular hours</h3>
        <p>Monday–Thursday<br>8:00 a.m. to 5:00 p.m.</p>
        <p>We observe most Federal holidays.</p>
      </div>
    </div>
    <div class="l-split" data-layout="1:3">
      <div class="o-flow">
        <h3 id="appointments">Appointments and Cancelations</h3>
        <p>To schedule an appointment, please call our office at (409) 769-4433. If for any reason you need to cancel or
          reschedule, please notify us by phone 24-hours in advance.</p>
      </div>
      <div class="o-flow">
        <h3>Insurance and Payment Options</h4>
        <p>Our office accepts most insurance plans, and we will gladly submit all insurance claims for you in a timely manner.
          We accept check, cash, or any major credit card.</p>
        <p>To help you afford the treatments you need and want, we have also partnered with CareCredit, a payment program that
          gives patients a cost conscious financial option when paying medical expenses. Once approved, you can begin treatments
          when needed and pay in monthly installments depending upon the plan you choose. Please visit
          <a href="http://www.carecredit.com/">CareCredit.com</a>
          for more information.</p>
        <p>If you have questions regarding insurance information and payment options, call our office today at (409) 769-4433.</p>
      </div>
    </div>
  </div>
</article>