---
layout: default
title: Home
displayTitle: Quality dental and orthodontic care for all ages
scriptContent: |
  <script type="module" src="js/disclosure.js"></script>
  <script type="module" src="js/sticky-header.js"></script>
  <script type="module" src="js/site-nav.js"></script>
---

{% include "c-hero.njk"%}
{% include "c-about.njk"%}
{% include "c-services.njk"%}
{% include "c-contact.njk"%}