$block-bp: 900px;

@mixin block-mq() {
  @media screen and (min-width: $block-bp) {
    @content;
  }
}

.c-block__intro {
  max-width: calc(900px + 2 * var(--space-x-outside));
  text-align: center;
  margin-inline: auto;
  padding: var(--space-2xl) var(--space-x-outside);
}

.c-block:where(#about) {
  background: no-repeat bottom -300px right -300px url('/images/bg-blur.png');

  & > .c-block__content {
    grid-column: 2 / 5;
    align-self: center;
    padding: var(--space-2xl) 0 var(--space-l);

    @include block-mq {
      padding: 0;
      grid-column: 2 / 3;
    }
  }

  & > .c-block__image {
    padding-block-start: var(--space-s-2xl);
    display: block;
    grid-column: 2 / 5;
    object-fit: cover;
    justify-self: center;
    align-self: end;
    max-height: 600px;

    @include block-mq {
      max-height: unset;
      min-height: 600px;
      object-position: left;
      justify-self: start;
      grid-column: 3 / 6;
    }
  }
}

.c-block:where(#services) {
  background-color: var(--block-services-background-color);
  padding-block-end: var(--space-2xl);

  .l-split {
    row-gap: var(--space-xl);
  }

  .c-service {
    --flow-space: var(--space-s);

    grid-column: 2 / 5;
  }

  @media screen and (min-width: 720px) {
    .c-service {
      grid-column: 2 / 3;
    }

    .c-service:nth-child(even) {
      grid-column: 4 / 5;
    }
  }
}

.c-block:where(#contact) {
  & .c-block__location {
    grid-column: 2 / 5;
    background-color: var(--block-services-background-color);
    padding: var(--space-l);
    margin-top: -6.25rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    @include block-mq {
      grid-column: 4 / 5;
      position: sticky;
      top: 6.25rem;
      align-self: start;
    }
  }

  & .c-block__appointments {
    grid-column: 2 / 5;
    padding: var(--space-l) 0 var(--space-2xl);

    @include block-mq {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}
