@use 'settings' as *;
@use 'tools' as t;

.c-nav {
  display: flex;
  gap: calc(var(--link-padding) * 2);
  align-items: center;
  flex-wrap: wrap;
}

.c-nav-item {
  @include t.uppercase;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    color: $color-nav-link;
  
    &:hover {
      cursor: pointer;
      color: $color-nav-link-hover;
    }
  
    &[aria-current='page'] {
      color: $color-nav-link-current;
      text-decoration: underline;
    }
}
