.c-block {
  padding: var(--block-padding);
  background-color: var(--block-background-color, var(--page-background-color));
  border-radius: var(--block-border-radius);

  & > * {
    --flow-space: var(--space-l-3xl);
  }
}

.c-hero__cta {
  display: inline-block;
  padding: var(--space-m);
  background-color: var(--hero-cta-background-color);
  color: var(--hero-cta-text-color);
  border-radius: 100px;
  transform: translateX(-3%);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -0.04em;
  font-size: var(--step-0);
  box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.67),
    0.7px 1.4px 1.5px -1.2px hsl(var(--shadow-color) / 0.57),
    2.1px 4.3px 4.6px -2.4px hsl(var(--shadow-color) / 0.47),
    5.7px 11.5px 12.4px -3.5px hsl(var(--shadow-color) / 0.37);
}

.c-block:where(header) {
  --block-background-color: var(--hero-background-color);
  --shadow-color: 201deg 20% 61%;

  & img {
    object-fit: cover;
    border-radius: 15% 45%;
    box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.67),
      0.7px 1.4px 1.5px -1.2px hsl(var(--shadow-color) / 0.57),
      2.1px 4.3px 4.6px -2.4px hsl(var(--shadow-color) / 0.47),
      5.7px 11.5px 12.4px -3.5px hsl(var(--shadow-color) / 0.37);
  }

  & .o-flow {
    min-width: min(100%, 40ch);
    align-self: center;
  }
}

.c-block:where(#about) {
  & .c-block__image {
    border-radius: 16px;
  }

  @media screen and (min-width: 890px) {
    grid-template-columns: minmax(min(100%, 430px), 1fr) auto;
  }
}

.c-block:where(#services) {
  --block-background-color: var(--block-services-background-color);
}

.c-block__title {
  text-align: center;
  grid-area: title;
}

.c-block__image {
  justify-self: center;
  box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color, 0deg 0% 52%) / 0.67),
    0.7px 1.4px 1.5px -1.2px hsl(var(--shadow-color, 0deg 0% 52%) / 0.57),
    2.1px 4.3px 4.6px -2.4px hsl(var(--shadow-color, 0deg 0% 52%) / 0.47),
    5.7px 11.5px 12.4px -3.5px hsl(var(--shadow-color, 0deg 0% 52%) / 0.37);
}

.c-block__content > * {
  --flow-space: var(--space-s-2xl, 1em);

  & > * {
    --flow-space: var(--space-s, 1em);
  }
}

.c-spicy-block {
  --flow-space: var(--space-s-2xl, 1em);

  display: grid;
  grid-template-areas: 'heading' 'image' 'content';
  grid-template-rows: auto 1fr;
  gap: var(--space-l, 1em) var(--space-s-xl, 1em);

  & > * {
    --flow-space: var(--space-s, 1em);
  }

  @media screen and (min-width: 890px) {
    grid-template-areas: 'image heading' 'image content';
    row-gap: var(--space-s, 1em);

    &[data-direction='reverse'] {
      grid-template-areas: 'heading image' 'content image';
    }
  }
}

.c-spicy-block__heading {
  grid-area: heading;
}

.c-spicy-block__image {
  grid-area: image;
}

.c-spicy-block__content {
  grid-area: content;
}
