@use 'settings' as *;
@use 'tools' as t;

.c-footer {
  grid-column: full;
  color: var(--footer-text-color);
  font-size: var(--step-0);
  background: var(--footer-background-color);
  padding: var(--space-l) calc(2 * var(--space-3xs-l)) var(--space-3xl);
  margin-block-start: var(--space-s-2xl);
  text-align: end;
}
