@use 'settings' as *;
@use 'tools' as t;

.c-footer {
  grid-column: full;
  color: var(--footer-text-color);
  font-size: var(--step--1);
  background: var(--footer-background-color);
  padding-block: var(--space-2xl);
  margin-top: var(--space-s-2xl);
}

.c-footer__copyright {
  text-align: center;
}
