@use 'tools' as t;

.c-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--space-s-l) 0;

  & > *:first-child {
    margin-right: auto;
  }
}

.c-header__branding {
  height: 5rem;
}
