.c-hero {
  --block-background-color: var(--hero-background-color);
  --shadow-color: 201deg 20% 61%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(390px, 100%), 1fr));
  gap: var(--space-m, 1em) var(--space-s-xl, 1em);
  align-items: center;
  justify-items: center;
}

.c-hero__image {
  align-self: stretch;
  object-fit: cover;
  border-radius: 15% 45%;
  box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.67),
    0.7px 1.4px 1.5px -1.2px hsl(var(--shadow-color) / 0.57),
    2.1px 4.3px 4.6px -2.4px hsl(var(--shadow-color) / 0.47),
    5.7px 11.5px 12.4px -3.5px hsl(var(--shadow-color) / 0.37);
}

.c-hero__cta {
  display: inline-block;
  padding: var(--space-m);
  background-color: var(--hero-cta-background-color);
  color: var(--hero-cta-text-color);
  border-radius: 100px;
  transform: translateX(-3%);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -0.04em;
  font-size: var(--step-1);
  box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.67),
      0.7px 1.4px 1.5px -1.2px hsl(var(--shadow-color) / 0.57),
      2.1px 4.3px 4.6px -2.4px hsl(var(--shadow-color) / 0.47),
      5.7px 11.5px 12.4px -3.5px hsl(var(--shadow-color) / 0.37);
}