@use 'sass:math';
@use 'settings' as *;
@use 'tools' as t;

:root {
  --step--2: clamp(0.45rem, calc(0.75rem + -0.29vw), 0.69rem); // 7.2 - 11.04
  --step--1: clamp(0.75rem, calc(0.85rem + -0.1vw), 0.83rem); // 12 - 13.28
  --step-0: clamp(1rem, calc(0.94rem + 0.29vw), 1.25rem); // 16 - 20
  --step-1: clamp(1.2rem, calc(0.99rem + 1.04vw), 2.08rem); // 19.2 - 33.28
  --step-2: clamp(1.44rem, calc(0.96rem + 2.39vw), 3.47rem); // 23.04 - 55.52
  --step-3: clamp(1.73rem, calc(0.77rem + 4.78vw), 5.79rem); // 27.68 - 92.64
  --step-4: clamp(2.07rem, calc(0.29rem + 8.92vw), 9.65rem); // 33.12 - 154.4
  --step-5: clamp(2.49rem, calc(-0.71rem + 16vw), 16.09rem); // 39.84 - 257.44

  --space-3xs: clamp(0.25rem, calc(0.24rem + 0.07vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.47rem + 0.15vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.71rem + 0.22vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.94rem + 0.29vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.41rem + 0.44vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.88rem + 0.59vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.82rem + 0.88vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.76rem + 1.18vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.65rem + 1.76vw), 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.16rem + 0.44vw), 0.63rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.4rem + 0.51vw), 0.94rem);
  --space-xs-s: clamp(0.75rem, calc(0.63rem + 0.59vw), 1.25rem);
  --space-s-m: clamp(1rem, calc(0.79rem + 1.03vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.26rem + 1.18vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.59rem + 2.06vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.53rem + 2.35vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(3.18rem + 4.12vw), 7.5rem);

  /* Custom pairs */
  --space-xs-3xl: clamp(0.75rem, calc(-0.84rem + 7.94vw), 7.5rem);
  --space-s-l: clamp(1rem, calc(0.65rem + 1.76vw), 2.5rem);
  --space-s-xl: clamp(1rem, calc(0.35rem + 3.24vw), 3.75rem);
  --space-s-2xl: clamp(1rem, calc(0.06rem + 4.71vw), 5rem);
  --space-l-3xl: clamp(2rem, calc(0.71rem + 6.47vw), 7.5rem);
  --space-3xs-l: clamp(0.25rem, calc(-0.28rem + 2.65vw), 2.5rem);
  --space-3xs-3xl: clamp(0.25rem, calc(-1.46rem + 8.53vw), 7.5rem);

  --layer-1: 1;

  --color-text-main: #{$color-black};
  --color-text-link: #{$color-link};
  --color-text-link-hover: #{$color-link-hover};
  --color-secondary: #{$color-gray-700};
  --color-bg: white;
  --color-bg-secondary: #{$color-gray-200};
  --color-border: #{$color-gray-500};

  --color-heading: #{$color-blue-800};
  --color-subheading: #{$color-blue-800};

  --link-padding: 0.5em;

  --grid-gap-col: var(--space-s-2xl);

  --flex-gap-col: var(--space-s-2xl);

  --page-grid-max-width: 1920px;
  --page-grid-gap-row: 0;
  --page-grid-gap-col: var(--space-3xs-l);

  --hero-background-color: #{$color-blue-200};
  --hero-cta-background-color: #{$color-orange-500};
  --hero-cta-text-color: #{$color-white};

  --block-padding: calc(2 * var(--space-3xs-l));
  --block-border-radius: 8px;
  --block-services-background-color: #{$color-gray-200};

  --flow-space: var(--space-m);

  --footer-background-color: #{$color-blue-900};
  --footer-text-color: #{$color-blue-400};

  --disclosure-panel-layer: var(--layer-1);
}
