@use 'settings' as *;
@use 'tools' as t;

.o-flow {
  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > * + * {
    margin-top: var(--flow-space, 1em);
  }
}

.o-visually-hidden,
.o-visible-on-focus {
  position: absolute;
}

.o-visually-hidden,
.o-visible-on-focus:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.o-block {
  padding: var(--space-s-2xl);
}

.o-block--filled {
  background-color: var(--block-background-color, #eee);
  border-radius: 8px;
}

.l-page-grid {
  display: grid;
  grid-template-columns: [full-start] 1fr [main-start] minmax(0, var(--page-grid-max-width, 1920px)) [main-end] 1fr [full-end];
  row-gap: var(--page-grid-gap-row, 1em);
  column-gap: var(--page-grid-gap-col, 1em);
}

.l-page-grid > header {
  grid-column: main;
}

.l-page-grid > main {
  grid-column: main;
}

.l-page-grid > footer {
  grid-column: full;

  display: grid;
  grid-template-columns: 1fr minmax(0, var(--page-grid-max-width, 1920px)) 1fr;
  row-gap: var(--page-grid-gap-row, 1em);
  column-gap: var(--page-grid-gap-col, 1em);

  & > * {
    grid-column: 2 / 3;
  }
}

.l-section-grid {
  display: grid;
}

.l-container {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}
